<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app-2940de3c8d4c5a1e20a6.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/dashboard-8a45f27b824f987de70e.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Main Container -->
    <section class="container-fluid dashboard py-3 px-0">
      <!-- Row -->
      <div class="row m-0">
        <%- include("../includes/admin-panel-aside.ejs") %>
        <!-- Main -->
        <main class="col-10 px-3">
          <div class="bg-light rounded-8 p-3 pb-0">
            <div class="mb-4 d-flex justify-content-between">
              <h3 class="font-black text-dark">مدیریت معلم های وبسایت</h3>
            </div>
            <div class="row mt-2">
              <div class="col">
                <div class="card border shadow-sm mb-3">
                  <div class="card-header font-bold">
                    مدیریت معلم های وبسایت
                    <span class="text-secondary font-light">( <%= teachers.length %> کاربر )</span>
                  </div>
                  <div class="card-body pt-0 pb-0">
                    <ul class="list-unstyled row border-bottom mb-0 pb-3 text-dark mt-3">
                      <li class="col-1 text-secondary">#</li>
                      <li class="col">نام و نام خانوادگی</li>
                      <li class="col">ایمیل</li>
                      <li class="col text-center">وضعیت</li>
                      <li class="col text-end">مدیریت وضعیت</li>
                    </ul>
                    <ul class="list-unstyled">
                      <% if(teachers.length) { %> <% teachers.forEach((teacher, index) => { %>
                      <li class="row py-3 border-bottom align-items-center">
                        <div class="col-1 text-secondary"><%= ++index %></div>
                        <div class="col text-primary"><%= teacher.fullname %></div>
                        <div class="col text-secondary"><%= teacher.email %></div>
                        <div class="col text-center">
                          <span class="badge <%= teacher.status === 'approved' ? 'bg-success' : 'bg-danger' %>"> <%= teacher.status === "approved" ? "تأیید شده": "در انتظار" %> </span>
                        </div>
                        <div class="col text-end">
                          <% if(teacher.status === "approved") { %>
                          <form action="/user/unapprove" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <input type="hidden" name="role" value="teacher" />
                            <input type="hidden" name="userId" value="<%= teacher._id %>" />
                            <button type="submit" class="btn btn-danger fs-sm py-1 px-2">تعلیق کاربر</button>
                          </form>
                          <% } else { %>
                          <form action="/user/approve" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <input type="hidden" name="role" value="teacher" />
                            <input type="hidden" name="userId" value="<%= teacher._id %>" />
                            <button type="submit" class="btn btn-warning fs-sm py-1 px-2">تأیید کاربر</button>
                          </form>
                          <% } %>
                        </div>
                      </li>
                      <% }) %> <% } else { %>
                      <h3 class="text-center my-5 text-danger font-black">کاربری برای نمایش موجود نیست</h3>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!--/ Main -->
      </div>
      <!--/ Row -->
    </section>
    <!--/ Main Container -->
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/swal/swal.js"></script>
  <%- include("../includes/message") %>
</html>
