<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/dashboard.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Main Container -->
    <section class="container-fluid dashboard manage-blogs py-3 px-0">
      <!-- Row -->
      <div class="row m-0">
        <%- include("../includes/admin-panel-aside.ejs") %>
        <!-- Main -->
        <main class="col-10 px-3">
          <div class="bg-light rounded-8 p-3 pb-0">
            <div class="mb-4 d-flex justify-content-between">
              <h3 class="font-black text-dark">مدیریت بلاگ های وبسایت</h3>
              <a href="/blog/new" class="btn btn-primary">نوشتن یک پست</a>
            </div>
            <div class="row mt-2">
              <div class="col">
                <div class="card border shadow-sm mb-3">
                  <!-- Card Header -->
                  <form method="GET" id="filter-form">
                    <div class="card-header font-bold d-flex align-items-center justify-content-between">
                      <div>
                        مدیریت بلاگ های وبسایت
                        <span class="text-secondary font-light number-of-blugs">( <%= blogs.length %> بلاگ )</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center input-group mb-md-0 mb-3">
                          <input type="text" name="q" class="form-control font-medium py-1 filter-form-input" placeholder="به من بگو چی میخوای تا بیارمش!" value="<%= query.length ? query : '' %>" autocomplete="off" />
                          <button type="submit" class="btn btn-primary p-1">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M1 10.5C1 5.25332 5.25332 1 10.5 1C15.7467 1 20 5.25332 20 10.5C20 12.7631 19.2086 14.8414 17.8875 16.4733L21.5607 20.1464C21.9512 20.537 21.9512 21.1701 21.5607 21.5607C21.1701 21.9512 20.537 21.9512 20.1464 21.5607L16.4733 17.8875C14.8414 19.2086 12.7631 20 10.5 20C5.25332 20 1 15.7467 1 10.5ZM10.5 3C6.35788 3 3 6.35788 3 10.5C3 14.6421 6.35788 18 10.5 18C14.6421 18 18 14.6421 18 10.5C18 6.35788 14.6421 3 10.5 3ZM6.96447 6.46442C7.86823 5.56072 9.11959 5 10.5 5C11.8804 5 13.1318 5.56072 14.0355 6.46444C14.426 6.85497 14.426 7.48813 14.0355 7.87866C13.645 8.26918 13.0118 8.26918 12.6213 7.87866C12.0773 7.33468 11.3287 7 10.5 7C9.67131 7 8.92267 7.33468 8.37863 7.87868C7.98809 8.26919 7.35493 8.26917 6.96442 7.87863C6.57391 7.48809 6.57393 6.85493 6.96447 6.46442Z"
                                fill="#fff"
                              />
                            </svg>
                          </button>
                        </div>
                        <select name="status" class="ms-3 form-select text-secondary filter-form-input font-regular">
                          <option value="all">تمامی وضعیت ها</option>
                          <option value="approved" <%= status === "approved" ? "selected" : '' %>>بلاگ های تأیید شده</option>
                          <option value="notApproved" <%= status === "notApproved" ? "selected" : '' %>>بلاگ های در انتظار تأیید</option>
                        </select>
                        <select name="sort" class="ms-3 form-select text-secondary filter-form-input font-regular">
                          <option value="">مرتب سازی بر اساس</option>
                          <option value="-createdAt" <%= sort === "-createdAt" ? "selected" : '' %>>جدیدترین ها</option>
                          <option value="createdAt" <%= sort === "createdAt" ? "selected" : '' %>>قدیمی ترین ها</option>
                          <option value="-likes" <%= sort === "-likes" ? "selected" : '' %>>بیشترین لایک</option>
                          <option value="likes" <%= sort === "likes" ? "selected" : '' %>>کمترین لایک</option>
                          <option value="-visit" <%= sort === "-visit" ? "selected" : '' %>>بیشترین بازدید</option>
                          <option value="visit" <%= sort === "visit" ? "selected" : '' %>>کمترین بازدید</option>
                          <option value="-comments" <%= sort === "-comments" ? "selected" : '' %>>بیشترین کامنت</option>
                          <option value="comments" <%= sort === "comments" ? "selected" : '' %>>کمترین کامنت</option>
                        </select>
                      </div>
                    </div>
                  </form>
                  <!--/ Card Header -->
                  <div class="card-body pt-0 pb-0">
                    <ul class="list-unstyled row border-bottom mb-0 pb-3 text-dark mt-3">
                      <li class="col-1 text-secondary">#</li>
                      <li class="col">تیتر خبر</li>
                      <li class="col">نویسنده</li>
                      <li class="col">وضعیت</li>
                      <li class="col">خواندن پست</li>
                      <li class="col text-end">تأیید \ حذف</li>
                    </ul>
                    <ul class="list-unstyled">
                      <% if(blogs.length) { %> <% blogs.forEach((blog, index) => { %>
                      <li class="row py-3 border-bottom align-items-center">
                        <div class="col-1 text-secondary"><%= ++index %></div>
                        <div class="col text-secondary blog-title overflow-hidden"><%= blog.title %></div>
                        <div class="col <%= blog.author !== null ? 'text-primary' : 'text-secondary' %>"><%= blog.author !== null ? blog.author.fullname : "کاربر دلیت اکانت شده" %></div>
                        <div class="col">
                          <span class="badge <%= blog.status === 'approved' ? 'bg-success' : 'bg-danger' %>"> <%= blog.status === "approved" ? "تأیید شده": "در انتظار" %> </span>
                        </div>
                        <div class="col text-primary get-blog"><button class="btn btn-info fs-sm" data-blog-id="<%= blog._id %>" data-bs-toggle="modal" data-bs-target="#readBlogModal">خواندن</button></div>
                        <div class="col text-end text-secondary">
                          <% if(blog.status === "notApproved") { %>
                          <form action="/blog/approve" method="POST" class="d-inline-block me-1">
                            <input type="hidden" name="blogId" value="<%= blog._id %>" />
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <button class="btn btn-primary py-1 px-2 fs-sm">تأیید</button>
                          </form>
                          <% } else { %>
                          <form action="/blog/unapprove" method="POST" class="d-inline-block me-1">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <input type="hidden" name="blogId" value="<%= blog._id %>" />
                            <button class="btn btn-warning py-1 px-2 fs-sm">تعلیق</button>
                          </form>
                          <% } %>
                          <form action="/blog/delete" method="POST" class="d-inline-block delete-blog">
                            <input type="hidden" name="blogId" value="<%= blog._id %>" />
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <button class="btn btn-danger py-1 px-2 fs-sm delete-blog">حذف</button>
                          </form>
                        </div>
                      </li>
                      <% }) %> <% } else { %>
                      <div class="my-5 d-flex align-items-center justify-content-center flex-column">
                        <img src="http://localhost:3000/images/blog-notfound.png" alt="" />
                        <h5 class="text-secondary font-bold my-4">تـاکـنـون بـلـاگـی ثـبـت نـشـده!</h5>
                        <a href="/blog/new" class="btn btn-outline-primary">نوشتن یک پست</a>
                      </div>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Read blog modal -->
          <div class="modal fade" id="readBlogModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-black text-primary"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <ul class="blog-tags d-flex list-unstyled mt-3 ms-3"></ul>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                </div>
              </div>
            </div>
          </div>
          <!--/ Read blog modal -->
        </main>
        <!--/ Main -->
      </div>
      <!--/ Row -->
    </section>
    <!--/ Main Container -->
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/swal/swal.js"></script>
  <script src="/js/manage-blogs.js"></script>
  <script src="/js/form-control.js"></script>
  <%- include("../includes/message") %>
</html>
