<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app-2940de3c8d4c5a1e20a6.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/dashboard-8a45f27b824f987de70e.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Main Container -->
    <section class="container-fluid dashboard py-3 px-0">
      <!-- Row -->
      <div class="row m-0">
        <%- include("../includes/admin-panel-aside.ejs") %>
        <!-- Main -->
        <main class="col-10 px-3">
          <div class="bg-light rounded-8 p-3 pb-0">
            <div class="mb-4 d-flex justify-content-between">
              <h3 class="font-black text-dark">مدیریت کاربر های وبسایت</h3>
            </div>
            <div class="row mt-2">
              <div class="col">
                <div class="card border shadow-sm mb-3">
                  <!-- Card Header -->
                  <form method="GET" id="filter-form">
                  <div class="card-header font-bold d-flex align-items-center justify-content-between">
                    <div>
                      مدیریت کاربران عادی وبسایت
                      <span class="text-secondary font-light">( <%= users.length %> کاربر )</span>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="d-flex align-items-center input-group mb-md-0 mb-3">
                        <input type="text" name="q" class="form-control font-medium py-1 filter-form-input" placeholder="اسمش رو سرچ کن!" value="<%= query.length ? query : '' %>" autocomplete="off" />
                        <button type="submit" class="btn btn-primary p-1">
                          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M1 10.5C1 5.25332 5.25332 1 10.5 1C15.7467 1 20 5.25332 20 10.5C20 12.7631 19.2086 14.8414 17.8875 16.4733L21.5607 20.1464C21.9512 20.537 21.9512 21.1701 21.5607 21.5607C21.1701 21.9512 20.537 21.9512 20.1464 21.5607L16.4733 17.8875C14.8414 19.2086 12.7631 20 10.5 20C5.25332 20 1 15.7467 1 10.5ZM10.5 3C6.35788 3 3 6.35788 3 10.5C3 14.6421 6.35788 18 10.5 18C14.6421 18 18 14.6421 18 10.5C18 6.35788 14.6421 3 10.5 3ZM6.96447 6.46442C7.86823 5.56072 9.11959 5 10.5 5C11.8804 5 13.1318 5.56072 14.0355 6.46444C14.426 6.85497 14.426 7.48813 14.0355 7.87866C13.645 8.26918 13.0118 8.26918 12.6213 7.87866C12.0773 7.33468 11.3287 7 10.5 7C9.67131 7 8.92267 7.33468 8.37863 7.87868C7.98809 8.26919 7.35493 8.26917 6.96442 7.87863C6.57391 7.48809 6.57393 6.85493 6.96447 6.46442Z"
                              fill="#fff"
                            />
                          </svg>
                        </button>
                      </div>
                      <select name="status" class="ms-3 form-select text-secondary filter-form-input font-regular">
                        <option value="all">تمامی وضعیت ها</option>
                        <option value="approved" <%= status === 'approved' ? 'selected' : '' %> >کاربران تأیید شده</option>
                        <option value="notApproved" <%= status === 'notApproved' ? 'selected' : '' %> >کاربران در انتظار تأیید</option>
                      </select>
                    </div>
                  </div>
                  </form>
                  <!--/ Card Header -->
                  <!-- Card Body -->
                  <div class="card-body pt-0 pb-0">
                    <ul class="list-unstyled row border-bottom mb-0 pb-3 text-dark mt-3">
                      <li class="col-1 text-secondary">#</li>
                      <li class="col">نام و نام خانوادگی</li>
                      <li class="col">ایمیل</li>
                      <li class="col text-center">وضعیت</li>
                      <li class="col text-end">مدیریت</li>
                    </ul>
                    <ul class="list-unstyled">
                      <% if(users.length) { %> <% users.forEach((user, index) => { %>
                      <li class="row py-3 border-bottom align-items-center">
                        <div class="col-1 text-secondary"><%= ++index %></div>
                        <div class="col text-primary"><%= user.fullname %></div>
                        <div class="col text-secondary"><%= user.email %></div>
                        <div class="col text-center">
                          <% if(user.status === "approved") { %>
                          <span class="badge bg-success">تأیید شده</span>
                          <% } else { %>
                          <span class="badge bg-danger">در انتظار</span>
                          <% } %>
                        </div>
                        <div class="col text-end">
                          <% if(user.status === "approved") { %>
                          <form action="/user/unapprove" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <input type="hidden" name="role" value="user" />
                            <input type="hidden" name="userId" value="<%= user._id %>" />
                            <button type="submit" class="btn btn-danger fs-sm py-1 px-2">تعلیق کاربر</button>
                          </form>
                          <% } else { %>
                          <form action="/user/approve" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <input type="hidden" name="role" value="user" />
                            <input type="hidden" name="userId" value="<%= user._id %>" />
                            <button type="submit" class="btn btn-warning fs-sm py-1 px-2">تأیید کاربر</button>
                          </form>
                          <% } %>
                        </div>
                      </li>
                      <% }) %> <% } else { %>
                      <h3 class="text-center my-5 text-secondary font-black">کاربری برای نمایش موجود نیست</h3>
                      <% } %>
                    </ul>
                  </div>
                  <!--/ Card Body -->
                </div>
              </div>
            </div>
          </div>
        </main>
        <!--/ Main -->
      </div>
      <!--/ Row -->
    </section>
    <!--/ Main Container -->
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/swal/swal.js"></script>
  <script src="/js/form-control.js
  "></script>
  <%- include("../includes/message") %>
</html>
