<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app-2940de3c8d4c5a1e20a6.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/dashboard-8a45f27b824f987de70e.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Main Container -->
    <section class="container-fluid dashboard py-3 px-0">
      <!-- Row -->
      <div class="row m-0">
        <%- include("../includes/admin-panel-aside.ejs") %>
        <!-- Main -->
        <main class="col-10 px-3">
          <div class="bg-light rounded-8 p-3 pb-0">
            <!-- Users that waiting for approval -->
            <div class="row mt-2">
              <div class="col">
                <div class="card border shadow-sm mb-3">
                  <div class="card-header font-bold">
                    مدیریت بلاگ های وبسایت
                    <span class="text-secondary font-light number-of-blugs">( <%= blogs.length %> بلاگ )</span>
                  </div>
                  <div class="card-body pt-0 pb-0">
                    <ul class="list-unstyled row border-bottom mb-0 pb-3 text-dark mt-3">
                      <li class="col-1 text-secondary">#</li>
                      <li class="col">تیتر خبر</li>
                      <li class="col">نویسنده</li>
                      <li class="col">وضعیت</li>
                      <li class="col">خواندن پست</li>
                      <li class="col text-end">تأیید \ حذف</li>
                    </ul>
                    <ul class="list-unstyled">
                      <% if(blogs) { %> <% blogs.forEach((blog, index) => { %>
                      <li class="row py-3 border-bottom">
                        <div class="col-1 text-secondary"><%= ++index %></div>
                        <div class="col text-secondary"><%= blog.title %></div>
                        <div class="col text-primary"><%= blog.author.fullname %></div>
                        <div class="col">
                          <span class="badge <%= blog.status === 'approved' ? 'bg-success' : 'bg-danger' %>">
                            <%= blog.status === "approved" ? "تأیید شده": "در انتظار" %>
                          </span>
                        </div>
                        <div class="col text-primary">خواندن</div>
                        <div class="col text-end text-secondary">
                          <% if(blog.status === "notApproved") { %>
                          <a href="/blog/release/<%= blog._id %>" class="text-decoration-none text-success">تأیید</a>
                          <% } else { %>
                          <a href="/blog/release/<%= blog._id %>" class="text-decoration-none text-warning">
                            حالت انتظار
                          </a>
                          <% } %> \
                          <form action="/blog/delete" method="POST" class="d-inline-block delete-blog">
                            <input type="hidden" name="blogId" value="<%= blog._id %>" />
                            <button class="shadow-none text-decoration-none btn p-0 text-danger delete-blog">
                              حذف
                            </button>
                          </form>
                        </div>
                      </li>
                      <% }) %> <% } %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!--/ Main -->
      </div>
      <!--/ Row -->
    </section>
    <!--/ Main Container -->
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/swal/swal.js"></script>
  <script>
    const deleteBlogForm = document.querySelectorAll("form.delete-blog");
    deleteBlogForm.forEach((el) => {
      el.addEventListener("submit", (e) => {
        e.preventDefault();
        Swal.fire({
          title: "احتیاط!",
          text: "از حذف این پست مطمئن هستی؟",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "بله، مطمئنم",
          cancelButtonText: "لغو عملیات",
        }).then(async (result) => {
          if (result.isConfirmed) e.target.closest("form").submit();
        });
      });
    });
    if ("<%= message.success %>") {
      Swal.fire({
        titleText: "مــــوفــــق!",
        text: "<%= message.success %>",
        footer: "هنرستان خوارزمی فیروزآباد",
        icon: "success",
        timer: 5000,
        timerProgressBar: true,
        showConfirmButton: false,
      });
    } else if ("<%= message.error %>") {
      Swal.fire({
        titleText: "خــــطــــا!",
        text: "<%= message.error %>",
        icon: "error",
        timer: 5000,
        timerProgressBar: true,
        showConfirmButton: false,
      });
    }
  </script>
</html>
