<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app-2940de3c8d4c5a1e20a6.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/dashboard-8a45f27b824f987de70e.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Main Container -->
    <section class="container-fluid dashboard py-3 px-0">
      <!-- Row -->
      <div class="row m-0">
        <%- include("../includes/admin-panel-aside.ejs") %>
        <!-- Main -->
        <main class="col-10 px-3">
          <div class="bg-light rounded-8 p-3 pb-0">
            <div class="d-flex align-items-center justify-content-between">
              <h1 class="font-black mt-4 mb-3">بخش مدیریت گالری وبسایت</h1>
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewImgModal">افزودن تصویر جدید</button>
              <!-- Add New Modal -->
              <div class="modal fade" id="addNewImgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title font-black">افزودن عکس جدید</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/admin/gallery/new" method="POST" enctype="multipart/form-data">
                      <div class="modal-body my-4">
                        <div>
                          <div>
                            <label class="text-secondary mb-2">تصویر</label>
                            <input type="file" name="galleryImg" class="form-control" />
                          </div>
                          <div class="mt-4">
                            <label class="text-secondary mb-2">توضیحات</label>
                            <textarea class="form-control" name="caption"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                        <button type="submit" class="btn btn-success">ارسال</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!--/ Add New Modal -->
              <!-- Edit Modal -->
              <div class="modal fade" id="addNewImgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title font-black">ویرایش عکس یا توضیحات</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body my-4">
                      <form action="/" method="POST" enctype="multipart/form-data">
                        <div>
                          <div>
                            <label class="text-secondary mb-2">تصویر</label>
                            <input type="file" class="form-control" />
                          </div>
                          <div class="mt-4">
                            <label class="text-secondary mb-2">توضیحات</label>
                            <textarea class="form-control"></textarea>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                      <button type="button" class="btn btn-success">ویرایش</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Edit Modal -->
            </div>
            <div class="row g-4 manage-gallery mt-2 pb-4">
              <% if(images.length) { %> <% images.forEach(img => { %>
              <div class="col-3">
                <div class="position-relative overflow-hidden rounded-3">
                  <div class="position-absolute justify-content-center btns">
                    <a href="#" class="btn btn-danger mx-1">حذف</a>
                    <a href="#" class="btn btn-light mx-1">ویرایش</a>
                  </div>
                  <img src="http://localhost:3000/gallery/<%= img.img %>" class="fit-cover w-100 rounded-3" alt="" />
                </div>
              </div>
              <% }) %> <% }%>
            </div>
          </div>
        </main>
        <!--/ Main -->
      </div>
      <!--/ Row -->
    </section>
    <!--/ Main Container -->
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/swal/swal.js"></script>
  <script>
    if ("<%= message.success %>") {
      Swal.fire({
        titleText: "مــــوفــــق!",
        text: "<%= message.success %>",
        footer: "هنرستان خوارزمی فیروزآباد",
        icon: "success",
        timer: 5000,
        timerProgressBar: true,
        showConfirmButton: false,
      });
    } else if ("<%= message.error %>") {
      Swal.fire({
        titleText: "خــــطــــا!",
        text: "<%= message.error %>",
        icon: "error",
        timer: 5000,
        timerProgressBar: true,
        showConfirmButton: false,
      });
    }
  </script>
</html>
