<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="http://localhost:3000/images/kharazmi.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app-2940de3c8d4c5a1e20a6.css" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <%- include("./includes/nav.ejs") %>

    <!-- Form -->
    <section class="container">
      <div class="login-form mb-5 p-0 overflow-hidden shadow-lg rounded-3 bg-light mx-auto">
        <div class="form-img p-5 w-100">
          <div class="d-flex justify-content-center flex-column h-100">
            <div class="text-white font-black text-center mb-3"><h1>فراموشی رمز عبور</h1></div>
            <p class="text-light text-center m-0 font-light">لطفا ایمیل خود را جهت بازیابی رمز عبور وارد کنید!</p>
          </div>
        </div>
        <div class="px-3 px-md-5">
          <form action="/forget-password" class="d-flex flex-wrap" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="w-100 mt-4">
              <label for="" class="d-block mb-2 font-regular">عنوان کاربری شما</label>
              <div class="d-flex align-items-center justify-content-between mt-3 text-secondary font-regular">
                <div>مدیریت <input type="radio" name="userType" value="admin" class="form-check-input" /></div>
                <div>معلم <input type="radio" name="userType" value="teacher" class="form-check-input" /></div>
                <div>کاربر عادی <input type="radio" name="userType" value="user" class="form-check-input" /></div>
              </div>
            </div>
            <div class="w-100 mt-4">
              <label for="" class="d-block mb-2 font-regular">ایمیل</label>
              <input type="email" name="email" class="form-control" placeholder="ایمیل خود را وارد کنید" />
              <div class="g-recaptcha mt-4 col-12" data-sitekey="6LeYaikaAAAAAMnA6JmZKeCU5DuR82MWsbFMRM9M"></div>
              <button class="btn btn-outline-primary d-block mt-5 mb-4 mx-auto">بررسی و بازیابی</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!--/ Form -->
    <%- include("./includes/footer.ejs") %>
  </body>
  <script src="/swal/swal.js"></script>
  <%- include("./includes/message") %>
</html>
