<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="http://localhost:3000/images/kharazmi.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app.css" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <%- include("./includes/nav.ejs") %>

    <!-- Form -->
    <section class="container">
      <div class="login-form mb-5 p-0 overflow-hidden shadow-lg rounded-3 bg-light mx-auto">
        <div class="form-img p-5 w-100">
          <div class="d-flex justify-content-center flex-column h-100">
            <h1 class="text-white font-black text-center mb-3">خــوش آمــدیــد</h1>
            <p class="text-light text-center m-0 font-light">با ورود به سایت از مزایای کاربران وبسایت بهرمند شوید!</p>
          </div>
        </div>
        <div class="px-3 px-md-5">
          <form action="/login" class="d-flex flex-wrap" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="w-100 mt-4">
              <label for="" class="d-block mb-2 font-regular">ورود به عنوان</label>
              <div
                class="
                  d-flex
                  flex-wrap
                  align-items-center
                  justify-content-between
                  mt-3
                  text-secondary
                  font-regular
                  radios-container
                "
              >
                <div>مدیریت <input type="radio" name="loginType" value="admin" class="form-check-input" /></div>
                <div>معلم <input type="radio" name="loginType" value="teacher" class="form-check-input" /></div>
                <div>کاربر عادی <input type="radio" name="loginType" value="user" class="form-check-input" /></div>
              </div>
            </div>
            <div class="w-100 mt-4">
              <label for="" class="d-block mb-2 font-regular">ایمیل</label>
              <input
                type="email"
                name="email"
                class="w-100 form-control py-2 text-secondary font-light text-start"
                placeholder="example@gmail.com :مثال"
              />
            </div>
            <div class="w-100 mt-4">
              <label for="" class="d-block mb-2 font-regular">رمز عبور</label>
              <input
                type="password"
                name="password"
                class="w-100 form-control py-2 text-secondary font-light"
                placeholder="********"
              />
            </div>
            <div class="g-recaptcha mt-4 col-12" data-sitekey="6LeYaikaAAAAAMnA6JmZKeCU5DuR82MWsbFMRM9M"></div>
            <div class="d-flex align-items-center mt-4 w-50 form-check">
              <input type="checkbox" name="rememberme" class="form-check-input" />
              <label class="text-secondary font-regular ms-2">منو یادت بمونه!</label>
            </div>
            <a href="/forget-password" class="text-decoration-none mt-4 fs-sm font-regular text-end w-50 text-danger">
              رمز عبورم رو فراموش کردم!
            </a>
            <button class="btn btn-outline-primary mt-5 mb-4 mx-auto">ورود به سایت</button>
            <p class="fs-sm text-center border-top pt-3 w-100 text-muted">حساب کاربری ای ندارید؟ <a href="/register-type" class="text-primary">ثبت نام کنید!</a></p>
          </form>
        </div>
      </div>
    </section>
    <!--/ Form -->
    <%- include("./includes/footer.ejs") %>
  </body>
  <script src="/swal/swal.js"></script>
  <script src="/fastest-validator/fastest-validator.js"></script>
  <script src="/js/login.js"></script>
  <%- include("./includes/message") %>
</html>
