<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="http://localhost:3000/images/kharazmi.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app-2940de3c8d4c5a1e20a6.css" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <%- include("./includes/nav.ejs") %>

    <!-- Form -->
    <section class="container">
      <div class="login-form mb-5 p-0 overflow-hidden shadow-lg rounded-3 bg-light mx-auto">
        <div class="form-img p-5 w-100">
          <div class="d-flex justify-content-center flex-column h-100">
            <div class="text-white font-black text-center mb-3"><h1>بازیابی رمز عبور</h1></div>
            <p class="text-light text-center m-0 font-light">لطفا رمز عبور جدید خود را وارد کنید!</p>
          </div>
        </div>
        <div class="px-3 px-md-5">
          <form action="/reset-password" class="d-flex flex-wrap" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="token" value="<%= token %>">
            <div class="w-100 mt-4">
              <label for="" class="d-block mb-2 font-regular">رمز عبور جدید</label>
              <input type="password" name="password" class="form-control" placeholder="رمز عبور جدید" />
            </div>
            <div class="w-100 mt-4">
              <label for="" class="d-block mb-2 font-regular">تکرار رمز عبور جدید</label>
              <input type="password" name="confirmPassword" class="form-control" placeholder="تکرار رمز عبور" />
            </div>
            <button class="btn btn-outline-primary d-block mt-5 mb-4 mx-auto">تغییر رمز عبور</button>
          </form>
        </div>
      </div>
    </section>
    <!--/ Form -->
    <%- include("./includes/footer.ejs") %>
  </body>
  <script src="/swal/swal.js"></script>
  <%- include("./includes/message") %>
</html>
