<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/styles/app-2940de3c8d4c5a1e20a6.css" />
  </head>
  <body>
    <%- include("../includes/nav.ejs") %> <%- include("../includes/small-header.ejs") %>
    <section class="container px-4 px-lg-0 mt-5 user-panel mb-5">
      <div class="row">
        <%- include("../includes/user-panel-aside.ejs") %>
        <main class="col-12 col-lg-9 ps-lg-5 p-0 mt-5 mt-lg-0">
          <div class="shadow-sm rounded-3 px-3 py-2">
            <h6 class="font-bold text-dark border-bottom pb-3">تغییر رمز عبور</h6>
            <div class="my-5">
              <form action="/me/change-password" method="POST">
                <div class="row">
                  <div class="col-12 my-3 px-3">
                    <label class="mb-2 text-secondary font-regular">رمز عبور فعلی</label>
                    <input type="password" name="currentPassword" class="form-control py-2" placeholder="********" />
                  </div>
                  <div class="col-12 col-sm-6 my-3 px-3">
                    <label class="mb-2 text-secondary font-regular">رمز عبور جدید</label>
                    <input type="password" name="newPassword" class="form-control py-2" placeholder="********" />
                  </div>
                  <div class="col-12 col-sm-6 my-3 px-3">
                    <label class="mb-2 text-secondary font-regular">تکرار رمز عبور جدید</label>
                    <input type="password" name="confirmNewPassword" class="form-control py-2" placeholder="********" />
                  </div>
                  <div class="col-12 text-center mt-3"><button type="submit" class="btn btn-success">تغییر رمز عبور</button></div>
                </div>
              </form>
            </div>
          </div>
        </main>
      </div>
    </section>
    <%- include("../includes/footer.ejs") %>
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/swal/swal.js"></script>
  <script>
    if ("<%= message.success %>") {
      Swal.fire({
        titleText: "مــــوفــــق!",
        text: "<%= message.success %>",
        footer: "هنرستان خوارزمی فیروزآباد",
        icon: "success",
        timer: 3000,
        timerProgressBar: true,
        showConfirmButton: false,
      });
    } else if ("<%= message.error %>") {
      Swal.fire({
        titleText: "خــــطــــا!",
        text: "<%= message.error %>",
        icon: "error",
        timer: 3000,
        timerProgressBar: true,
        showConfirmButton: false,
      });
    }
  </script>
</html>
