<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/styles/app.css" />
  </head>
  <body>
    <%- include("../includes/nav.ejs") %> <%- include("../includes/small-header.ejs") %>
    <section class="container mt-5 user-panel mb-5">
      <div class="row">
        <%- include("../includes/user-panel-aside.ejs") %>
        <main class="col-12 col-lg-9 ps-lg-5 p-0 mt-5 mt-lg-0">
          <div class="shadow-sm rounded-3 px-3 py-2">
            <h6 class="font-bold text-dark border-bottom pb-3">ویرایش اطلاعات</h6>
            <div class="my-5">
              <form action="/me/edit/<%= user.role %>" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="row">
                  <div class="col-12 col-md-6 my-3 px-3">
                    <label class="mb-2 text-secondary font-regular">نام و نام خانوادگی</label>
                    <input type="text" class="form-control py-2" name="fullname" value="<%= user.fullname %>" />
                  </div>
                  <div class="col-12 col-md-6 my-3 px-3">
                    <label class="mb-2 text-secondary font-regular">تصویر پروفایل</label>
                    <input type="file" name="profileImg" class="form-control py-2" />
                  </div>
                  <div class="col-12 my-3 px-3">
                    <label class="mb-2 text-secondary font-regular">بیوگرافی</label>
                    <textarea name="bio" class="form-control h-100"><%= user.bio ? user.bio : "" %></textarea>
                  </div>
                  <div class="col-12 text-center mt-5"><button type="submit" class="btn btn-success">ویرایش اطلاعات</button></div>
                </div>
              </form>
            </div>
          </div>
        </main>
      </div>
    </section>
    <%- include("../includes/footer.ejs") %>
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/swal/swal.js"></script>
  <%- include("../includes/message") %>
</html>
