<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/styles/app-2940de3c8d4c5a1e20a6.css" />
  </head>
  <body>
    <%- include("../includes/nav.ejs") %> <%- include("../includes/small-header.ejs") %>
    <section class="container px-4 px-lg-0 mt-5 user-panel mb-5">
      <div class="row">
        <%- include("../includes/user-panel-aside.ejs") %>
        <main class="col-12 col-lg-9 ps-lg-5 p-0 mt-5 mt-lg-0">
          <div class="shadow-sm rounded-3 p-3">
            <h6 class="font-bold text-dark border-bottom pb-3">اطلاعات حساب کاربری</h6>
            <ul class="list-unstyled mt-4 row">
              <li class="col-12 col-md-6 my-3 font-regular text-dark">
                نام و نام خانوادگی: <span class="text-secondary"><%= user.fullname %> </span>
              </li>
              <li class="col-12 col-md-6 my-3 font-regular text-dark">ایمیل: <span class="text-secondary"><%= user.email %> </span></li>
              <li class="col-12 col-md-6 my-3 font-regular text-dark">شماره تماس: <span class="text-secondary"><%= user.phoneNumber %> </span></li>
              <li class="col-12 col-md-6 my-3 font-regular text-dark">
                درجه کاربری:
                <span class="<% if(user.role === 'admin') {  %> text-warning <% } else if(user.role === 'teacher') { %> text-primary <% } else { %> text-secondary <% } %>">
                  <% if(user.role === "admin") { %> مدیریت <% } else if(user.role === "teacher") { %> معلم <% } else { %> کاربر عادی <% } %>
                </span>
              </li>
              <li class="col-12 col-md-6 my-3 font-regular text-dark">تاریخ عضویت: <span class="text-secondary"><%= moment(user.createdAt) %> / <%= momentTime(user.createdAt) %></span></li>
                <li class="col-12 my-3 font-regular text-dark d-flex flex-wrap align-items-center">
                  <p class="text-dark text-justify lh-lg m-0 ms-2">
                    بیوگرافی: <span class="text-secondary"><%= user.bio ? user.bio : "بیوگرافی تنظیم نشده!" %></span>
                  </p>
                </li>
            </ul>
          </div>
        </main>
      </div>
    </section>
    <%- include("../includes/footer.ejs") %>
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/swal/swal.js"></script>
  <script>
    if ("<%= message.success %>") {
      Swal.fire({
        titleText: "مــــوفــــق!",
        text: "<%= message.success %>",
        footer: "هنرستان خوارزمی فیروزآباد",
        icon: "success",
        timer: 3000,
        timerProgressBar: true,
        showConfirmButton: false,
      });
    }else if("<%= message.error %>") {
      Swal.fire({
        titleText: "خــــطــــا!",
        text: "<%= message.error %>",
        icon: "error",
        timer: 3000,
        timerProgressBar: true,
        showConfirmButton: false,
      });
    }
  </script>
</html>
