<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app-2940de3c8d4c5a1e20a6.css" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <%- include("../includes/nav.ejs") %> <%- include("../includes/small-header.ejs") %>

    <section class="container mt-5">
      <form action="/blog/new" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 my-3">
            <label class="mb-2 text-secondary">تیتر پست</label>
            <input type="text" name="title" class="form-control p-2" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 my-3">
            <label class="mb-2 text-secondary">دسته بندی پست</label>
            <select class="form-control p-2" name="category">
              <option value="">گزینه ای را انتخاب کنید</option>
              <option value="shitCat">شت</option>
            </select>
          </div>
          <div class="col-12 col-md-6 col-lg-4 my-3">
            <label class="mb-2 text-secondary">تصویر کاور پست</label>
            <input type="file" name="blogImg" class="form-control p-2" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 my-3">
            <label class="mb-2 text-secondary">تگ های پست <span class="font-regular">( با "/" تگ ها را جدا کنید )</span></label>
            <input type="text" name="tags" class="form-control p-2" />
          </div>
          <div class="col-12 mt-4">
            <label class="mb-2 text-secondary">متن پست</label>
            <textarea name="body" id="ckeditor"></textarea>
          </div>
          <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary ms-auto d-block">ثبت پست</button>
          </div>
        </div>
      </form>
    </section>

    <%- include("../includes/footer.ejs") %>
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/ckeditor/ckeditor.js"></script>
  <script>
    ClassicEditor.create(document.querySelector("#ckeditor"), {
      language: "fa",
      heading: {
        options: [
          { model: "paragraph", title: "پاراگراف", class: "ck-heading_paragraph" },
          { model: "heading1", view: "h1", title: "تیتر نویس 1", class: "ck-heading_heading1" },
          { model: "heading2", view: "h2", title: "تیتر نویس 2", class: "ck-heading_heading2" },
          { model: "heading3", view: "h3", title: "تیتر نویس 3", class: "ck-heading_heading3" },
          { model: "heading4", view: "h4", title: "تیتر نویس 4", class: "ck-heading_heading3" },
          { model: "heading5", view: "h5", title: "تیتر نویس 5", class: "ck-heading_heading3" },
          { model: "heading6", view: "h6", title: "تیتر نویس 6", class: "ck-heading_heading3" },
        ],
      },
    })
      .then((editor) => {
        console.log(editor);
      })
      .catch((error) => {
        console.error(error);
      });
  </script>
  <script src="/swal/swal.js"></script>
  <script>
    if ("<%= message.success %>") {
      Swal.fire({
        titleText: "مــــوفــــق!",
        text: "<%= message.success %>",
        footer: "هنرستان خوارزمی فیروزآباد",
        icon: "success",
        timer: 5000,
        timerProgressBar: true,
        showConfirmButton: false,
      });
    } else if ("<%= message.error %>") {
      Swal.fire({
        titleText: "خــــطــــا!",
        text: "<%= message.error %>",
        icon: "error",
        timer: 5000,
        timerProgressBar: true,
        showConfirmButton: false,
      });
    }
  </script>
</html>
