<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app-2940de3c8d4c5a1e20a6.css" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <%- include("../includes/nav.ejs") %> <%- include("../includes/small-header.ejs") %>

    <section class="container mt-5">
      <form action="/blog/new" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 my-3">
            <label class="mb-2 text-secondary">تیتر پست</label>
            <input type="text" name="title" class="form-control p-2" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 my-3">
            <label class="mb-2 text-secondary">دسته بندی پست</label>
            <select class="form-control p-2" name="category">
              <option value="">گزینه ای را انتخاب کنید</option>
              <% if(categories.length) { %>
              <!--  -->
              <% categories.forEach(category => { %>
              <option value="<%= category._id %>"><%= category.name %></option>
              <% }) %> <% } %>
            </select>
          </div>
          <div class="col-12 col-md-6 col-lg-4 my-3">
            <label class="mb-2 text-secondary">تصویر کاور پست</label>
            <input type="file" name="blogImg" class="form-control p-2" />
          </div>
          <div class="col-12 col-md-6 col-lg-4 my-3">
            <label class="mb-2 text-secondary">تگ های پست <span class="font-regular">( با "/" تگ ها را جدا کنید )</span></label>
            <input type="text" name="tags" class="form-control p-2" autocomplete="off" />
          </div>
          <div class="col-12">
            <label class="mb-2 text-secondary">خلاصه <span class="font-regular">( حدااقل 20 کاراکتر و حدااکثر 50 کاراکتر )</span></label>
            <textarea name="description" rows="2" class="w-100 form-control p-2"></textarea>
          </div>
          <div class="col-12 mt-4">
            <label class="mb-2 text-secondary">متن پست</label>
            <textarea name="body" id="ckeditor"></textarea>
          </div>
          <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary ms-auto d-block">ثبت پست</button>
          </div>
        </div>
      </form>
    </section>

    <%- include("../includes/footer.ejs") %>
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/fastest-validator/fastest-validator.js"></script>
  <script src="/ckeditor/ckeditor.js"></script>
  <script src="/js/add-blog.js"></script>
  <script src="/swal/swal.js"></script>
  <%- include("../includes/message") %>
</html>
