<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrfToken" content="<%= csrfToken %>" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css" />
    <link href="/styles/app-2940de3c8d4c5a1e20a6.css" rel="stylesheet" />
  </head>
  <body class="bg-light">
    <%- include("../includes/nav.ejs") %>

    <!-- Blog -->
    <section class="container-lg px-2 mx-auto blog mb-5">
      <div class="row">
        <!-- Main -->
        <main class="col-12 col-xl-9 p-3 rounded-3 bg-white shadow">
          <!-- Blog Info -->
          <div class="blog-info border-bottom pb-5">
            <div class="blog-img w-100">
              <img src="http://localhost:3000/blogs/<%= blog.blogImg %>" class="w-100 h-100 rounded-3" alt="" />
            </div>
            <h1 class="font-black mt-4 text-dark"><%= blog.title %></h1>
            <span class="d-block text-secondary"><%= blog.category ? blog.category.name : "" %></span>
            <div class="mt-4 flex-wrap">
              <div class="blog-feedbacks d-flex align-items-center justify-content-end text-secondary font-regular">
                <div class="likes">
                  <button class="btn p-0 like-blog shadow-none <%= blog.isLiked ? 'liked' : '' %>" data-blog-id="<%= blog._id %>">
                    <svg width="20" height="18" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M11.6 18.8C11.3 18.9 10.7 18.9 10.4 18.8C7.5 17.8 1 13.7 1 6.69998C1 3.59998 3.5 1.09998 6.6 1.09998C8.4 1.09998 10 1.99998 11 3.29998C12 1.89998 13.6 1.09998 15.4 1.09998C18.5 1.09998 21 3.59998 21 6.69998C21 13.7 14.5 17.8 11.6 18.8Z"
                        stroke="#6c757d"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                  <span class="like-number"><%= blog.likes.length %></span>
                </div>
                <div class="ms-2 comments">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12.3142 19.4902L11.6158 19.217L12.3142 19.4902ZM3.77909 14.1378L3.04815 14.3058L3.77909 14.1378ZM3.77571 9.22642L3.04477 9.05841L3.77571 9.22642ZM20.2476 9.44741L20.9786 9.2794L20.2476 9.44741ZM20.2476 13.9021L19.5167 13.7341L20.2476 13.9021ZM9.31593 20.8233L9.61076 20.1337L9.61076 20.1337L9.31593 20.8233ZM9.68953 3.27141L9.86413 4.00081H9.86413L9.68953 3.27141ZM14.283 3.27141L14.1084 4.00081L14.283 3.27141ZM9.19777 20.7728L8.90294 21.4624H8.90294L9.19777 20.7728ZM14.6641 3.36264L14.8387 2.63325L14.6641 3.36264ZM20.1588 9.06088L19.4279 9.22889V9.22889L20.1588 9.06088ZM9.46648 3.32481L9.29188 2.59541V2.59541L9.46648 3.32481ZM8.69628 8.30793C8.28207 8.30793 7.94628 8.64372 7.94628 9.05793C7.94628 9.47215 8.28207 9.80793 8.69628 9.80793V8.30793ZM14.7279 9.80793C15.1422 9.80793 15.4779 9.47215 15.4779 9.05793C15.4779 8.64372 15.1422 8.30793 14.7279 8.30793V9.80793ZM8.69628 11.7641C8.28207 11.7641 7.94628 12.0999 7.94628 12.5141C7.94628 12.9283 8.28207 13.2641 8.69628 13.2641V11.7641ZM12.5346 13.2641C12.9488 13.2641 13.2846 12.9283 13.2846 12.5141C13.2846 12.0999 12.9488 11.7641 12.5346 11.7641V13.2641ZM9.64108 4.0542L9.86413 4.00081L9.51493 2.54202L9.29188 2.59541L9.64108 4.0542ZM14.1084 4.00081L14.4895 4.09204L14.8387 2.63325L14.4576 2.54202L14.1084 4.00081ZM9.61076 20.1337L9.4926 20.0832L8.90294 21.4624L9.0211 21.5129L9.61076 20.1337ZM19.4279 9.22889L19.5167 9.61542L20.9786 9.2794L20.8897 8.89287L19.4279 9.22889ZM14.1721 18.1768H13.1107V19.6768H14.1721V18.1768ZM13.1107 18.1768C12.4324 18.1768 11.8529 18.6108 11.6158 19.217L13.0127 19.7634C13.0406 19.6921 13.092 19.6768 13.1107 19.6768V18.1768ZM4.51003 13.9698C4.16535 12.4702 4.16244 10.8919 4.50665 9.39443L3.04477 9.05841C2.64926 10.7791 2.65311 12.5871 3.04815 14.3058L4.51003 13.9698ZM19.5167 9.61542C19.8278 10.9687 19.8278 12.3808 19.5167 13.7341L20.9786 14.0701C21.3405 12.4957 21.3405 10.8538 20.9786 9.2794L19.5167 9.61542ZM9.0211 21.5129C10.6131 22.1936 12.3891 21.3576 13.0127 19.7634L11.6158 19.217C11.2766 20.084 10.365 20.4561 9.61076 20.1337L9.0211 21.5129ZM9.86413 4.00081C11.2611 3.6664 12.7114 3.6664 14.1084 4.00081L14.4576 2.54202C12.8311 2.15266 11.1415 2.15266 9.51493 2.54202L9.86413 4.00081ZM9.4926 20.0832C7.01453 19.0237 5.14644 16.7384 4.51003 13.9698L3.04815 14.3058C3.78571 17.5145 5.95924 20.2039 8.90294 21.4624L9.4926 20.0832ZM19.5167 13.7341C18.912 16.3647 16.6859 18.1768 14.1721 18.1768V19.6768C17.4318 19.6768 20.2281 17.3351 20.9786 14.0701L19.5167 13.7341ZM14.4895 4.09204C16.91 4.67142 18.8349 6.64932 19.4279 9.22889L20.8897 8.89287C20.1765 5.78984 17.8441 3.35266 14.8387 2.63325L14.4895 4.09204ZM9.29188 2.59541C6.18969 3.338 3.78134 5.85397 3.04477 9.05841L4.50665 9.39443C5.1229 6.71346 7.12384 4.65676 9.64108 4.0542L9.29188 2.59541ZM8.69628 9.80793H14.7279V8.30793H8.69628V9.80793ZM8.69628 13.2641H12.5346V11.7641H8.69628V13.2641Z"
                      fill="#6c757d"
                    />
                  </svg>
                  <span>0</span>
                </div>
                <div class="ms-2 visits">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M15.6 12C15.6 14 14 15.6 12 15.6C9.99999 15.6 8.39999 14 8.39999 12C8.39999 10 9.99999 8.40002 12 8.40002C14 8.40002 15.6 10 15.6 12Z"
                      stroke="#6c757d"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M12 20.2999C15.5 20.2999 18.8 18.2 21.1 14.6C22 13.2 22 10.8 21.1 9.39995C18.8 5.79995 15.5 3.69995 12 3.69995C8.50001 3.69995 5.20001 5.79995 2.90001 9.39995C2.00001 10.8 2.00001 13.2 2.90001 14.6C5.20001 18.2 8.50001 20.2999 12 20.2999Z"
                      stroke="#6c757d"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <span><%= blog.visit.length %></span>
                </div>
              </div>
            </div>
          </div>
          <!--/ Blog Info -->
          <div class="blog-body">
            <div class="lh-lg text-justify mt-5"><%- blog.body %></div>
          </div>
          <div class="tags mt-5">
            <ul class="list-unstyled d-flex align-content-center">
              <% blog.tags.forEach(tag => { %>
              <li>
                <a href="#" class="text-decoration-none bg-light text-dark font-light me-2 rounded-3 py-1 px-3">#<%= tag %></a>
              </li>
              <% }) %>
            </ul>
          </div>
          <!--! Comments area -->
          <div class="comments-area mt-10">
            <!--! Reply Comment Modal -->
            <div class="modal fade" data-img-id="" id="replyComment" tabindex="-1" aria-labelledby="replyComment" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-black">پاسخ به کامنت</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body my-2">
                    <% if(!user) { %>
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                      <div>کاربر گرامی توجه داشته باشید که برای افزودن پاسخ باید ابتدا <a href="/login">وارد</a> حساب کاربری خود شده باشید!</div>
                    </div>
                    <% } %>
                    <div>
                      <form action="/comment/add" method="POST">
                        <h6 class="text-muted mb-3">پاسخ خود را بنویسید!</h6>
                        <input type="hidden" name="replyId" />
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <input type="hidden" name="blogId" value="<%= blog._id %>" />
                        <textarea name="comment" class="ckeditor" id="replyCommentCkeditor"></textarea>
                        <div class="g-recaptcha my-4" data-sitekey="6LeYaikaAAAAAMnA6JmZKeCU5DuR82MWsbFMRM9M"></div>
                        <button type="submit" class="btn btn-success d-block ms-auto mt-3 d-flex items-center add-comment">ارسال پاسخ شما</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--!/ Reply Comment Modal -->
            <!--! Edit Comment Modal -->
            <div class="modal fade" id="editComment" tabindex="-1" aria-labelledby="editComment" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-black">ویرایش کامنت</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body my-2">
                    <div>
                      <form action="/comment/update" method="POST">
                        <h6 class="text-muted mb-3">کامنت جدید خود را بنویسید!</h6>
                        <input type="hidden" name="commentId" />
                        <input type="hidden" name="replyId" />
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <textarea name="comment" class="ckeditor"></textarea>
                        <button type="submit" class="btn btn-success d-block ms-auto mt-3 d-flex items-center edit-comment">ویرایش</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--!/ Edit Comment Modal -->
            <!--! Add Comments -->
            <div class="add-comment">
              <h3 class="font-black mb-5 text-dark">نظرات کاربران درمورد این مقاله</h3>
              <% if(!user) { %>
              <div class="alert alert-warning d-flex align-items-center" role="alert">
                <div>برای افزودن نظر خود ابتدا باید <a href="/login">وارد</a> حساب کاربری خود شوید!</div>
              </div>
              <% } %>
              <h6 class="text-muted mb-4">نظر خود را وارد نمایید!</h6>
              <form action="/comment/add" method="POST">
                <input type="hidden" name="blogId" value="<%= blog._id %>" />
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <textarea name="comment" class="ckeditor" id="addCommentCkeditor"></textarea>
                <div class="g-recaptcha my-4 col-12" data-sitekey="6Ld-xTAcAAAAAE8xNmK8MjelXEnyBdTI2AAVjJJJ"></div>
                <button type="submit" class="btn btn-success d-block ms-auto mt-4 d-flex align-items-center add-comment">ارسال دیدگاه شما</button>
              </form>
            </div>
            <!--/ Add Comments -->
            <!--! Comments -->
            <div class="comments mt-5"></div>
            <!--/ Comments -->
          </div>
        </main>
        <!--/ Main -->
        <!--! Aside -->
        <aside class="col-12 col-xl-3 mt-5 mt-xl-0 p-0 ps-xl-3">
          <div class="bloger-info d-flex flex-wrap align-items-center rounded-3 p-3 shadow-sm bg-white">
            <% if(blog.author !== null) { %>
            <div class="bloger-avatar shadow-lg">
              <a href="/user/profile/<%= blog.author.role %>/<%= blog.author._id %>">
                <img src="http://localhost:3000/users/<%= blog.author.profileImg %>" class="w-100 h-100" alt="" />
              </a>
            </div>
            <% } else { %>
            <h6 class="text-secondary font-black w-100">کاربر دلیت اکانت شده</h6>
            <% } %>
            <div class="ms-2">
              <% if(blog.author !== null) { %>
              <a href="/user/profile/<%= blog.author.role %>/<%= blog.author._id %>">
                <h6 class="font-black text-primary"><%= blog.author.fullname %></h6>
              </a>
              <% } %>
              <p class="m-0 text-black-50"><%= moment(blog.createdAt) %> / <%= momentTime(blog.createdAt) %></p>
            </div>
          </div>
          <% if(otherBlogs.length) { %>
          <div class="shadow-sm mt-4 p-3 rounded-3 bg-white">
            <h4 class="font-bold font-dark border-bottom pb-3">دیگر مقالات ما</h4>
            <ul class="list-unstyled">
              <% otherBlogs.forEach(blog => { %>
              <li class="border-bottom py-2">
                <a href="/blog/read/<%= blog._id %>/<%= blog.slug %>" class="text-dark">
                  <h6><%= blog.title %></h6>
                </a>
                <div>
                  <ul class="list-unstyled d-flex">
                    <% blog.tags.slice(0, 2).forEach(tag => { %>
                    <li class="mx-1">
                      <a href="#" class="text-muted text-decoration-none fs-sm font-light">#<%= tag %></a>
                    </li>
                    <% }) %>
                  </ul>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>
          <% } %>
        </aside>
        <!--/ Aside -->
      </div>
    </section>
    <!--/ Blog -->

    <%- include("../includes/footer.ejs") %>
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/swal/swal.js"></script>
  <script src="/ckeditor/ckeditor.js"></script>
  <script src="/js/single-blog.js"></script>
  <script src="/swal/swal.js"></script>
  <%- include("../includes/message") %>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</html>
